/*  your css code here. If applicable */
#baguetteBox-overlay .full-image img {
  height: 50%;
}

h2,
h6,
p {
  text-align: center;
}

.card {
  border-radius: 20px;
}

.lightbox {
  transition: 0.3s;
}

.lightbox:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
